{% extends 'base.html' %} {% block content %}
<h2>Members</h2>
<table class="box_styling">
  <tr>
    <th>Name</th>
    <th>age</th>
    <th>Address</th>
  </tr>
  {% for member in members %}
  <tr class="row_bgcolor">
    <td>
      <a href="/members/{{ member.id }}"> {{ member.name }}</a>
    </td>
    <td>{{ member.age }}</td>
    <td>{{ member.address }}</td>
    <td><a href="/members/{{ member.id }}/edit">Edit</a></td>
  </tr>
  {% endfor %}
</table>
<button class="btn"><a href="/members/new">Add Member</a></button>
{% endblock content %}
