{% extends 'base.html' %} {% block content %}
<div class="member_info box_styling">
  <img
    class="member_profile"
    src="/static/images/profile_placeholder.png"
    alt=""
  />
  <h3>{{ member.name }}</h3>
  <h4>Contact information:</h4>

  <p>Age: {{ member.age }}</p>
  <p>Address: {{ member.address }}</p>

  <h4>Enrolled classes:</h4>

  {% for activity in activities %}
  <div class="member_activity">
    <h4>{{ activity.name }}</h4>

    {% for session in sessions %} {% if session.id == activity.id %}
    <p>Start Time: {{ session.time }} | Duration: {{ session.duration }}mins</p>

    {% endif %} {% endfor %}
  </div>
  {% endfor %}
</div>

{% endblock content %}
