{% extends 'base.html' %} {% block content %}

<div class="booking_container">
  <h2>Current Bookings</h2>
  <table class="box_styling">
    <th>Class</th>
    <th>Time</th>
    <th>Members</th>
    {% for booking in bookings %}
    <tr class="row_bgcolor">
      <td>{{ booking.session.activity.name }}</td>
      <td>
        <img src="/static/images/time.svg" alt="#" class="icons" />{{
        booking.session.time }}
      </td>
      <td>{{ booking.member.name }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<button class="btn"><a href="/bookings/new">New Booking</a></button>

{% endblock content %}
