.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  font-size: 2rem;
  box-shadow: 0.2px 4px 4px 2px rgba(109, 109, 109, 0.3);
  cursor: pointer;
}

.btn > a {
  text-decoration: none;
}

.btn:active {
  box-shadow: none;
}

input .btn {
  height: auto;
}
