form {
  border: 1px solid black;
  padding: 2rem;
}

input,
select,
number {
  display: block;
  margin: 0.5rem 0;
  height: 3rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
}

input[type="number"] {
  height: 3rem;
}
option {
  font-size: 2rem;
}
