form {
  width: 80%;
  max-width: 40rem;
}

input,
select,
number {
  display: block;
  margin: 1rem 0;
  height: 4rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
}

input[type="number"] {
  height: 4rem;
}
option {
  font-size: 2rem;
}
