table {
  margin-top: 3rem;
}
tr,
th,
td {
  padding: 1rem;
}

/* Change the background color of alternative rows in the tables */

.row_bgcolor:nth-child(even) {
  background-color: rgb(226, 226, 226);
}
