table {
  padding: 3rem;
  border-radius: 2rem;
  background-color: white;
  margin-top: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
tr,
th,
td {
  padding: 1rem;
}

/* Change the background color of alternative rows in the tables */

.row_bgcolor:nth-child(even) {
  background-color: rgb(226, 226, 226);
}
