{% extends 'base.html' %} {% block content %}
<form action="/activities/{{ id }}" method="post">
  <div>
    <label for="activity_name">Activity:</label>
    <select name="activity_name" id="activity_name">
      {% for activity in activities %}
      <option value="{{ activity.id }}">{{ activity.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="start_time">Start:</label>
    <input
      type="number"
      id="start_time"
      name="start_time"
      value="{{ activities.start_time }}"
    />
  </div>

  <div>
    <label for="duration">Duration:</label>
    <input
      type="number"
      id="duration"
      name="duration"
      value="{{ activities.duration }}"
    />
  </div>

  <button class="btn" type="submit">Update</button>
</form>
{% endblock content %}
