{% extends 'base.html' %} {% block content %}

<h2>Activities</h2>
<table class="box_styling">
  <tr>
    <th>Name</th>
    <th>Start Time</th>
    <th>Duration</th>
  </tr>
  {% for session in sessions %}
  <tr class="row_bgcolor">
    <td>{{ session.activity.name }}</td>
    <td>{{ session.time }}</td>
    <td>{{ session.duration }} min</td>
  </tr>

  {% endfor %} {% for activity in activities %}
  <p>{{ activity.name }}</p>
  {% endfor %}
</table>
<button class="btn"><a href="/activities/new">New Activity</a></button>

{% endblock content %}
