<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/forms.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/tables.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/buttons.css') }}"
    />

    <title>Peak Fitness - gym app</title>
  </head>
  <body>
    <header>
      <h1>Peak Fitness</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
            <a href="/members/index">Members</a>
            <a href="/activities/index">Classes</a>
            <a href="/sessions/index">Sessions</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">{% block content %} {% endblock content %}</div>
    <footer>
      <p>Copyright &copy; 2022</p>
    </footer>
  </body>
</html>
