<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/forms.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/tables.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/buttons.css') }}"
    />

    <title>Peak Fitness - gym app</title>
  </head>
  <body>
    <header>
      <div class="logo_container">
        <img class="logo" src="/static/images/dumbell_logo.svg" alt="#" />
        <h1>Peak Fitness</h1>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
            <a href="/members/index">Members</a>
            <a href="/sessions/index">Sessions</a>
            <a href="/bookings/index">Bookings</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="page_container">
        <div class="content_wrapper">
          {% block content %} {% endblock content %}
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright &copy; Peak Fitness 2022</p>
    </footer>
  </body>
</html>
